

.App header nav {
  text-align: center;
  position: relative;
  left: 40px;
  font-size: 1.5em;
  color: white;
}

.link {
  margin: 0 10px;
  font-family: 'Roboto', sans-serif;
}

a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

.app-title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 4.75em;
  margin-top: 1em;
}



.app-title-small {
  color: white;
  font-family:  'Raleway', sans-serif;
  font-size: 2.5em;
  text-align: left;
  margin-left: 1em;
  margin-top: 0em;
}

.App-intro {
  font-size: large;
}
