

.App header nav {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1em;
}

.App header nav a:hover {
  color: white;
}

.link {
  margin: 0 10px;
  font-family: 'Roboto', sans-serif;
}

a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}


.app-title-small {
  color: white;
  font-family:  'Raleway', sans-serif;
  font-size: 2.5em;
  text-align: left;
  margin-left: 1em;
  margin-top: 0em;
}

.App-intro {
  font-size: large;
}
