
.app-title {
  color: blue;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 4.75em;
  margin-top: 1em;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

.hero-title, .point {
  font-family: 'Raleway', sans-serif;
  color: blue;
  text-align: center;
}

.hero-title {
  font-family: 'Roboto', sans-serif;
  margin-top: 6em;
  margin-bottom: 1.5em;
}

.point-title {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  margin-bottom: 1.5em;
}

.point-description {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
}

.point .custom-icon {
  font-size: 48px;
  text-align: center;
  color: blue;

}
