
body {
  background-image: url(/assets/images/blur_bg_3.jpg);
  background-size: cover;
  position: relative;
  right: 40px;
}


.container div {
  color: black;
  border-style: inset;
  border-width: 5px;
  box-shadow: 1px 1px 1px 1px gray;
  text-align: center;
  width: 30%;
  border: 5px solid white;
  display: inline-block;
  font-size: .8em;
  margin-bottom: 1.5em;
  margin-top: .2;
}

.container-3 {
  position: relative;
  background-color: white;
  top: 40px;
  left: 110px;
}

.container-2 {
  position: relative;
  background-color: white;
  top: 40px;
  left: 60px;
}

.container-1 {
  position: relative;
  background-color: white;
  right: -10px;
  top: 40px;
}



.app-title {
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  position: relative;
  left: 40px;
  font-size: 5em;
  margin-top: .2em;
  margin-bottom: .1em;
}



.landing .hero-title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  position: relative;
  left: 40px;
  margin-top: 2em;
  margin-bottom: 1em;
}

.point-title {
  font-size: 1.6em;
  font-weight:400;
}

.point-description {
  position:relative;
  top: 20px;
}
