
.library {
  margin: 5em;
  text-align: center;
  position: relative;
  left: 50px;
}

.album-div {
  margin-top: 4em;
  position: relative;
}


.app-title h1 {
  font-size: 1em;
}

.album-title {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}

.album-artist {
  font-size: 1.75em;
  font-family: 'Roboto', sans-serif;
}

.album-songs-length {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  position: relative;
  left: 200px;
}

.app-title-small {
  position: relative;
  left: 460px;
  top: 40px;
}
