.player-bar {
  position: relative;
  top: 40px;
  margin: 1em auto;
  text-align: center;
}

#buttons button {
  margin: 0 2em;
}

#buttons button span {
  font-size: 1.75em;
  padding: 0 5px;
}


#volume-control .custom-icon {
  width: 75%;
  margin-right: auto;
}

#time-control {
  width: 50%;
  margin: auto;
}

#time-control input {
  width: 85%;
  display: flex;
  margin: 0 .75em;
}

.current-time {
  text-align: left;
  display: flex;
  font-size: 1.25em;
}

.total-time {
  text-align: right;
  display: flex;
  font-size: 1.25em;
}
